/* 
Late BART Alert Stylesheet
v2
Last Updated: 12-04-2011
Author: Andrew Hyder Http://ondrae.com 
Twitter: @ondrae
*/

.hero-unit{
	padding: 80px 20px 20px 60px;
	background: #FFF;
	margin-bottom: 0px
}

.btn{
	margin-top: 10px;
}