/* 
Late BART Alert Stylesheet
v0.2
Last Updated: 06-01-2011
Author: Andrew Hyder Http://hackyourcity.com 
Twitter: @ondrae
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body{
	background:#333;
	font-family:Arial, Verdana, sans-serif;
	}

h2{
	font-size:2em;
	}
		
header{
	background:white;
	height:125px;
	}

#hat{
	background:#333;
	height:15px;
	}
	
#head{
	width:800px;
	margin: 0 auto 0 auto;
	background:white;
	height:100%;
	margin-top:15px;
	}	

#tagline{
	width:350px;
	min-width:350px;
	float:right;
	padding:15px 10px 0 0;
	font-size:1em;
	}
	
#sectionBackground{
	background:url(watchBG.png) bottom right no-repeat #9999cc; 
	}

section {
	width:800px;
	margin:0 auto 0 auto;
	padding-top: 25px;
	font-size:1.5em;
	line-height: 1.5em;
	}

fieldset {
	width: 400px;
	margin: 0 auto 0 auto;
	}

form ol{
	list-style:none;
	}

form label
	{
	display: block;	
	}

form select{
	width:399px;
	border-color: #000;
	display: block;
	}	 

input {  
    padding: 10px;  
    border-color:#000;   
    width: 399px;  
    }

footer {
	width:780px;
	padding:10px;
	color:#fff;
	margin:0 auto 0 auto;
	}	

footer a, #footer a{
	color:#9999cc;
	}	
