/* 
Late BART Alert Stylesheet
v0.2
Last Updated: 06-01-2011
Author: Andrew Hyder Http://hackyourcity.com 
Twitter: @ondrae
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,abbr, address, cite, code,del, dfn, em, img, ins, kbd, q, samp,small, strong, sub, sup, var,b, i, dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    background:transparent;
}

body{
	background:#333;
	font-family:Arial, Verdana, sans-serif;
	}

h2{
	font-size:24px;
	}
		
header{
	background:white;
	height:125px;
	}

#hat{
	background:#333;
	height:15px;
	}
	
#head{
	width:800px;
	margin: 0 auto 0 auto;
	background:white;
	height:100%;
	margin-top:15px;
	}	

#tagline{
	width:350px;
	float:right;
	padding:10px;
	font-size:18px;
	}
	
#sectionBackground{
	background:url(watchBG.png) bottom right no-repeat #9999cc; 
	}

section {
	width:800px;
	margin:0 auto 0 auto;
	padding: 15px 0 15px 0;
	}

fieldset {
	width: 400px;
	margin: 0 auto 0 auto;
	padding-top:10px;
	}

form ol{
	list-style:none;
	}

form li{
	padding:10px;
	}

form label
	{
	display: block;
	font-size:20px;
	}

form select{
	width:399px;
	border-color: #333;
	display: block;
	font-size:20px;
	}	 

input {   
    border-color:#333;
    border-width   
    width: 399px;
    font-size:20px;
    border-radius:10px;
	-moz-border-radius: 10px;
	padding:6px;  
    }

.submit{
	float:right
	}

.submit input{
	width:175px;
	height:50px;
	border-radius:10px;
	-moz-border-radius: 10px;
	background: #333;    
	color:white;
	}

.submit input:active{
	font-size:14px;
	}	

footer {
	width:780px;
	padding:10px;
	color:#fff;
	margin:0 auto 0 auto;
	font-size:14px;
	}	

footer a, #footer a{
	color:#9999cc;
	}	
